* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/moroccan-flower-dark.png);
}
.main-container {
  border: rgb(92, 75, 75) 2px solid;
  border-radius: 10px;
  width: 30%;
  margin-bottom: 7%;

  padding: 2rem;
}
.flex-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.main-container img {
  width: 5rem;
}

.score {
  background-color: aliceblue;
  border: rgb(92, 75, 75) 2px solid;
  border-radius: 10px;
  width: 30%;
  height: 10%;
}
